<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.svg" type="image/x-icon">
    <title>4SAVE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>


<body>
    <video autoplay muted loop class="bg-video">
        <source src="../static/video/bg.mp4" type="video/mp4">
    </video>

    <form class="login">
        <img src="../static/images/tlogo.svg" alt="" class="tlogo">
        <input class="input-login" type="text" placeholder="Логин">
        <input class="input-password" type="password" placeholder="Пароль">
        <button>Войти</button>
    </form>

    <script src="../static/scripts/script.js"></script>
</body>

</html>